{{>layouts/header}}

<!--<form action="">-->
<!--    <input type="text">-->
<!--    <button type="submit">저장</button>-->
<!--</form>-->
<!--mustache: 화면을 만들기 위한 도구-->

<form class="container" action="/articles/create" method="post">//어디로,어떻게 보낼지에 관한 정보
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">  //DTO의 title 필드와 연결
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea>  //DTO의 content 필드와 연결
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles">Back</a>
</form>
{{>layouts/footer}}